<?xml version="1.0"?>
<launch>
	<arg name="rviz" default="default"/>  
    <arg name="gui" default="False" />  
    <param name="robot_description" textfile="$(find robot_model)/urdf/robot_model.urdf" />  
    <param name="use_gui" value="$(arg gui)"/>  
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />  
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />  
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find robot_launch)/rviz/$(arg rviz).rviz"/>  <!--required="false"-->
</launch>